/* Wufoo Plugin Styles */
.wufoo-form-container{
	min-height: 1600px !important;
}
#wuf-adv{
	position: absolute !important;
	left: -99999999em !important;
}


	.wufoo .section h3,
	.wufoo label.choice,
	.wufoo label.desc, 
	.wufoo legend.desc,
	.wufoo li div, 
	.wufoo li span, 
	.wufoo li div label, 
	.wufoo li span label,
	.wufoo .info h2,
	.wufoo .info div,
	.wufoo .section div{
		font-family: Menlo, "Lucida Console", Courier, monospace;
	}
	.wufoo .info h2{
		font-size: 1.7142857143em;
		line-height: 32px;
		margin-top: 60px;
		margin-bottom: 30px;
		font-weight: bold;
	}
	@media (min-width: 54.2857142857em){
		.wufoo .info h2{
			font-size: 2.5714285714em;
			line-height: 48px;
			margin-top: 60px;
			margin-bottom: 30px;
		}
	}

	.wufoo li.focused{
		background: #efefef;
	}

	input.text, input.search, textarea.textarea{
		border: 2px solid #ddd;
		padding: 3px;
		background: #fff !important;
		font-family: Menlo, "Lucida Console", Courier, monospace;
	}
	.btTxt.submit, #saveForm{
	  font-family: "League Spartan", Helvetica, Arial, san-serif;
	  text-transform: uppercase;
	  letter-spacing: 4px;
	  font-size: 14px;
	  background: transparent;
	  border: 0;
	  box-shadow: none;
	  text-decoration: none;
	  border-bottom: 3px solid #4e9398;
	  box-shadow: inset 0 -10px 0 #4e9398;
	  color: inherit;
	  -webkit-transition: box-shadow 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
	          transition: box-shadow 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
	  border-radius: 0; }
	  .button:hover, .button:focus, .button:active, #searchsubmit:hover, #searchsubmit:focus, #searchsubmit:active, .form-submit input[name="submit"]:hover, .form-submit input[name="submit"]:focus, .form-submit input[name="submit"]:active {
	    box-shadow: inset 0 -15px 0 #4e9398;
	    border-bottom: 3px solid #4e9398;
	    text-decoration: none; 
	}


		.wufoo input[type="text"],
		.wufoo select,
		.wufoo input[type="select"],
		.wufoo input[type="password"],
		.wufoo input[type="datetime"],
		.wufoo input[type="datetime-local"],
		.wufoo input[type="date"],
		.wufoo input[type="month"],
		.wufoo input[type="time"],
		.wufoo input[type="week"],
		.wufoo input[type="number"],
		.wufoo input[type="email"],
		.wufoo input[type="url"],
		.wufoo input[type="search"],
		.wufoo input[type="tel"],
		.wufoo input[type="color"]{
			box-sizing: border-box;
		}



.wufoo header{
	display: none !important;
}
	